<app-navbar></app-navbar>

<div class="row mt-4">
  <div class="col-md-12">
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-ride="carousel"
    >
      <ol class="carousel-indicators">
        <li
          data-target="#carouselExampleIndicators"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            class="d-block w-100"
            src="../../../assets/icon/img1.png"
            alt="First slide"
          />
        </div>
        <div class="carousel-item">
          <img
            class="d-block w-100"
            src="../../../assets/icon/img2.jpg"
            alt="Second slide"
          />
        </div>
        <div class="carousel-item">
          <img
            class="d-block w-100"
            src="../../../assets/icon/img3.jpg"
            alt="Third slide"
          />
        </div>
      </div>
      <a
        class="carousel-control-prev"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#carouselExampleIndicators"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-12">
    <h5 class="text-center"> Produtos</h5>
  </div>
</div>
<div class="row pl-2">
  <div class="col-md-3" *ngFor="let produto of produtos; let i= index">
    <div class="card m-4" >
      <h5 class="card-title text-center">{{produto.nomeProduto}}</h5>
      <div class="card-body card-body-size ">
        <p class="card-text">{{produto.descricao}}</p>
        <p class="card-text">dz: ${{produto.valorProduto}}</p>
        <p class="card-text">status: ${{produto.statusProduto}}</p>
        <div *ngIf="produto.statusProduto == 'Disponível'" >
          <button id="adicionar" name="adicionar" (click)="adicionarPedido(produto)" class="btn btn-sm btn-primary"><fa name="cart-plus" animation="none"></fa></button>
        </div>
      </div>
    </div>
  </div>
</div>
