/* You can add global styles to this file, and also import other style files */
// @import '~bootstrap/dist/css/bootstrap.min.css';

//Global CSS

.margin-top-10rem{
    margin-top: 10rem;
}

.font-size-13{
    font-size: 13px;
}

.font-size-16{
    font-size: 16px !important;
}

.btn-full{
    width: 100%;
}

html{
    overflow-x: hidden;
    // overflow-y: auto;
}

.color-thema{
    color: orange;
}
.erro{
    color: red;
}


.input-button-right {
  position: relative;
  bottom: 1pc;
}
